{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "arrowFunctions": true,
      "classes": true
    }
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "eqeqeq": ["error", "always"],
    "no-console": 0
  },
  "overrides": [
    {
      "files": ["*.test.js", "*.test.jsx"],
      "env": {
        "node": true,
        "mocha": true
      },
      "rules": {
        "id-length": 0,
        "no-unused-expressions": [0]
      }
    }
  ]
}
